body { font: 14pt 'Alike', sans-serif;}
#note { font-size: 164px; }
.droptarget { background-color: #348781}
div.confident { color: black; }
div.vague { color: lightgrey; }
#note { 
  font-size: 164px; 
  display: inline-block;
   height:auto; 
   line-height: 1;
}

#detector { 
  width: auto;
   height: auto;
    border-radius: 8px;
     text-align: center;
     padding: 1rem;
     display: grid;
     gap: 3rem;
}
#output { width: 300px; height: 42px; }
#flat { display: none; }
#sharp { display: none; }
.flat #flat { display: inline; }
.sharp #sharp { display: inline; }

.note,.pitch,.octave{
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pitch--big,
.octave--big{
  font-size: 32px;
}


.start-record{
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  transition: .2s ease-in-out;
  &:before{
    display: inline-block;
    content:'';
    border: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: red;
    margin-right: 16px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.3);
    transition: .2s ease-in-out;
  }
  &:hover{
    color: red;
    &:before{
      transform: scale(1.1);
      box-shadow: 1px 1px 2px 1px rgba(0,0,0,.6);
    }
  }
}
.meter {
    //position: absolute;
    left: 0;
    right: 0;
    //bottom: 50%;
    width: 400px;
    height: 100%;
    //margin: 0 auto 5vh auto;
  }
  
  .meter-pointer {
    width: 40px;
    height: 100%;
    background: #2c3e50;
    transform: rotate(45deg);
    transform-origin: bottom;
    transition: transform 0.5s;
    position: absolute;
    right: calc(50% - 20px);
    
  }
  
  .meter-dot {
    width: 100px;
    height: 100px;
    background: #2c3e50;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .meter-dot:before {
    content:'';
    display: inline-block;
    width: 200px;
    height: 400px;
    background-color: aliceblue;
    z-index: -1;
    opacity: .5;
  }
  
  .meter-scale {
    //width: 1px;
    height: 100%;
    transform-origin: bottom;
    transition: transform 0.2s;
    box-sizing: border-box;
    //border-top: 10px solid;
    position: absolute;
    right: 50%;
    opacity: 1;
    &:before{
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      background: antiquewhite;
      border-radius: 50%;
      margin-left: -4px;
      margin-top: -4px;
    }
  }
  
  .meter-scale-strong {
    //width: 2px;
    //border-top-width: 20px;
    &:before{
      width: 15px;
      height: 15px;
      margin-left: -7px;
      margin-top: -7px;
    }
  }